h1,
.output-box {
  font-family: 'Bricolage Grotesque';
}
.text {
  font-family: Comfortaa;
}
.head {
  font-family: 'Outfit';
}
.main-section {
  background-image: url(./assets/images/curve.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.box-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
