h1 {
  font-family: 'Outfit';
}
.text {
  font-family: Comfortaa;
}
.head {
  font-family: 'Outfit';
}
.main-section {
  background-image: url(./assets/images/curve.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
