body {
  background-image: url(./assets/images/bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
}

h1 {
  font-family: 'Outfit';
}
.text {
  font-family: Comfortaa;
}
.head {
  font-family: 'Outfit';
}
.brand {
  background: #cf9f26;
  background: linear-gradient(to right, #cf9f26 0%, #6e6817 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
